.ad-card {
  margin-block: 20px; /* Add Space between ads */
  width: 500px;
  height: 400px;
}

.ad-card .cta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ad-card .body-card {
  display: flex;

  gap: 20px;
  align-items: center;
}
