.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--border-color);
  box-shadow: none;
  width: 70%;
  padding: 12px;
  h2,
  h4 {
    margin: 0;
  }
}
