.ad-item-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 8px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.ad-item.active {
  border: 2px solid green;
}
.ad-item.disabled {
  border: 2px solid rgb(119, 119, 119);
}
.ad-item .condensed {
  width: 55%;
}
