.post {
  padding: 0;
  box-shadow: none;
  max-width: 500px;
}
.post-header {
  padding-inline: 16px;
  padding-bottom: 8px;
  &-body {
    margin-top: 8px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
  }
  &-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-body {
  background-color: #f0f2f5;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  font-size: 13px;
  align-items: center;
}
.company-link {
  color: var(--secondary-color);
}
.company-name {
  font-size: 17px;
  font-weight: var(--font-bold);
  color: black;
}
.company-data {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.post-cta {
  background-color: #e4e6eb;
  border-radius: 6px;
  font-size: 15px;
  font-weight: var(--font-bold);
  padding: 5px 12px;
  white-space: nowrap;
  color: #050505;
  flex-grow: start;
  overflow: hidden;
}
.post-footer {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding: 8px 16px;
}
/* Condensed */
.condensed {
  .post-header {
    padding-inline: 6px;
    &-body {
      margin-top: 2px;
    }
  }
  .post-image {
    max-height: 96px;
    object-fit: cover;
  }
  .company-name {
    font-size: 12px;
  }
  .company-web-site {
    display: none;
  }
  .post-footer {
    padding-block: 2px;
  }
  .social-icon {
    width: 12px;
    height: 12px;
  }
  .social-button {
    font-size: 12px;
  }
  .avatar,
  .post-cta {
    display: none;
  }
}
/* Mobile */
@media screen and (max-width: 650px) {
  .post-cta {
    display: none;
  }
}
