.products-card-container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
@media screen and (max-width: 775px) {
  .products-card-container {
    flex-direction: column;
    align-items: center;
  }
}
