.app {
  background-color: #fafafa;
}

.error-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Utils */
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-line-clamp: 1;
}

.width-50 {
  width: 50%;
}

.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0;
}

@media (max-width: 768px) {
  .avatar {
    display: none;
  }
}

.box-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  box-shadow: none;
  max-width: 1582px;
  padding: 18px;
  h2 {
    margin: 0;
  }
}

.header {
  padding: 10px 16px;
  background: #555555;
  color: #f1f1f1;
  a {
    color: #f1f1f1;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .main {
  padding-top: var(--header-height);
}

.main {
  padding: 16px;
}
